<a class="btn btn-secondary ms-5"  [routerLink]="['../detail/'+bookId]">Назад</a>

<div *ngIf="isLoaded" class="text-center">
  <button class="btn  btn-primary" (click)="prevPage()" [disabled]="page===1">
    <i class="bi bi-arrow-left-square-fill w-100 h-100"></i></button>
  <span>{{page}} / {{totalPages}}</span>
  <button class=" btn btn-primary" (click)="nextPage()" [disabled]="page===totalPages"><i class="bi bi-arrow-right-square-fill w-100 h-100"></i></button>
</div>
<div class="container col-8" [ngStyle]="{height:riderHeight+'px' }" >
    <pdf-viewer
      class="w-80 h-100"
      [src]="serverAddress+readerData.path+'.pdf'"
      [original-size]="false"
      [show-all]="false"
      (after-load-complete)="callBackFn($event)"
      [page]="page"

    >

    </pdf-viewer>
</div>
