<div class="myBagColor2">
<nav class="navbar navbar-expand-lg navbar-light col-12 myBagColor1">
  <div class="container col-12">
      <div class="d-flex col-10">
        <input class="form-control me-3"
               type="search"
               placeholder="Введите Фамилию Автора ,название Книги или логин пользователя "
               aria-label="Search"
        [(ngModel)]="searchString">
        <button class="btn btn-success me-1 col-2" [disabled]="searchString.length < 2" (click)="Submit()"><i class="bi bi-search me-1 "></i>Поиск</button>
        <button class="btn btn-danger  col-2" (click)="resetFilter()"><i class="bi bi-arrow-clockwise me-1"></i>Сброс</button>
      </div>
    </div>
</nav>
</div>
