<a class="btn btn-secondary ms-5"  [routerLink]="['']">Назад</a>
<div *ngIf="currentBook"  class="container mb-5 col-12 pb-3 content">
 <div class="row">
   <div class="image col-3">
     <img  [src]=" currentBook.titleImgPath != null ?serverAddress + currentBook.titleImgPath:'./assets/img/No-Cover-Image-01.webp'" alt="{{currentBook.title}}">
   </div>
   <div class="col-8 mt-2">
     <h1 class="fs-1 text-center font">{{currentBook.title}}</h1>
     <h2 class="text-center font1 fw-bold mb-3"> Автор: <span class="fw-bolder fs-3">{{currentBook.author.name}} {{currentBook.author.lastName}}</span></h2>
     <p class="text-end font1 fw-bold mb-4 fs-5">Жанр: <span class="fw-bolder fs-3">{{currentBook.genre_name}} - {{currentBook.subGenre_name}}</span></p>
     <div class="mb-4">
       <span class="fst-italic fw-bold fs-4">Описание: </span>
       <p  class="ms-5 mt-2 fs-6">{{currentBook.description}}</p>
     </div>
     <div class="row">
       <div class="col-6 mb-4">
       <p class="fst-italic fw-bold fs-5" >Скачать книгу в : </p>
       <button class="btn btn-success ms-1 me-1" (click)="download(currentBook.id,'.epub')">Epub</button>
       <button mat-raised-button color="warn" (click)="download(currentBook.id,'.pdf')">PDF</button>
       <button class="btn btn-primary ms-1 me-1" (click)="download(currentBook.id,'fb2')">fb2</button>
       </div>
       <div class="col-6 pt-3">
          <button class="btn btn-warning h-100" (click)="checkExitBook()">Читать онлайн</button>
       </div>
     </div>
   </div>
 </div>
  <div class="row ">
    <p class="col-6 font1 fw-bold text-center">Добавлено пользователем: <span class="fw-bold fs-4">{{currentBook.user_name}}</span></p>
    <p class="col-6 font1 fw-bold text-center">Дата добавления: <span class="font2">{{dateService.formatData(currentBook.createdDate)}}</span></p>
</div>
  <app-comment-form [bookId]="currentBook.id"/>
</div>
<div class="container col-6">
  <ng-container *ngFor="let comment of commentCollection">
    <app-comment-item [comment]="comment"/>
</ng-container>
</div>

