<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid myBagColor2 rounded m-1">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-4">
          <div>
            <p class="text-center fs-4  fw-bolder">{{bookCount}}</p>
            <p class="fw-lighter">Книг</p>
          </div>
        </li>
        <li class="nav-item me-4">
          <div>
            <p class="text-center fs-4 fw-bolder">{{performerCount}}</p>
            <p class="fw-lighter">Авторов</p>
          </div>
        </li>
        <li class="nav-item me-4">
          <div>
            <p class="text-center fs-4 fw-bolder">{{userCount}}</p>
            <p class="fw-lighter">Пользователей</p>
          </div>
        </li>
      </ul>
      <div>
        <i role="button" class=" bi bi-box-arrow-in-right mx-3 btn btn-outline-success"
           data-bs-toggle="modal" data-bs-target="#authModal" title="Вход" (click)="callOpenModal()"></i>
        <a class="btn btn-outline-success" routerLink="/registration" title="Регистрация"><i
          class="bi bi-person-add"></i></a>
      </div>
    </div>
  </div>

</nav>
