<div class="content container col-10 p-3">
  <form [formGroup]="addNewPostForm" (ngSubmit)="submit($event)" enctype="multipart/form-data">
    <div>
      <div class="input-group mb-3">
        <span class="input-group-text">T</span>
        <input type="text" class="form-control" placeholder="Название книги" aria-label="bookTittle" formControlName="tittle">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Фамилия</span>
        <input type="text" class="form-control" placeholder="Автор Фамилия"  formControlName="authorLastName">
        <span class="input-group-text ms-1">Имя</span>
        <input type="text" class="form-control" placeholder="Автор Имя" formControlName="authorName">
      </div>
      <div class="alert alert-danger"
           *ngIf="addNewPostForm.controls['tittle'].invalid && addNewPostForm.controls['tittle'].touched">
        Укажите автора
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Обложка</label>
        <input type="file"  class="form-control" #titleBook id="inputGroupFile01" formControlName="titleImgFile" (change)="TitleFileInput($event)"
               accept="image/*">
      </div>
      <div class="row g-2">
        <div class="col-2">
        <img [src]="previewTittleImg!= undefined?previewTittleImg:'../assets/img/No-Cover-Image-01.webp'"     alt="previewTittleImg">
        </div>
        <div class="col-10">
          <textarea class="form-control" rows="8" placeholder="Аннотация книги..." formControlName="description"></textarea>
          <div class="alert alert-danger"
               *ngIf="addNewPostForm.controls['description'].invalid && addNewPostForm.controls['description'].touched">
            Аннотация обязательна
          </div>
        </div>
      </div>
      <div class="input-group mt-3">
        <label class="input-group-text" for="inputGroupFile2"><i class="bi bi-book-fill"></i></label>
        <input type="file" #bookUpload  class="form-control" id="inputGroupFile2" multiple formControlName="bookFileList"
               (change)="BookFileInput($event)"
        accept="application/pdf,.fb2,application/epub+zip" required>
      </div>
    </div>
    <div class="row mt-3">
      <div class="d-flex justify-content-around col-12">
        <div class="container col-5 text-center">
          <label for="Genre" class="fs-5"> Жанры </label>
          <select id="Genre" class="form-select col-10"  (change)="SelectGenre($event)" formControlName="genre"  aria-label="multiple select example">
            <option *ngFor="let item of GenreAndSubGenreCollection" value="{{item.genre.id}}">{{item.genre.genreName}} </option>
          </select>
          <div class="alert alert-danger"
               *ngIf="addNewPostForm.controls['genre'].invalid && addNewPostForm.controls['genre'].touched">
            Выберете жанр
          </div>
        </div>
        <div class="container col-5 text-center ">
          <label for="subGenre" class="fs-5">Поджанр </label>
          <select id="subGenre"  class="form-select col-10" formControlName="subGenre" aria-label="multiple select example">
            <option  *ngFor="let item of subGenreSelectList" value="{{item.id}}" >{{item.subGenreName}}</option>
          </select>
          <div class="alert alert-danger"
               *ngIf="addNewPostForm.controls['subGenre'].invalid && addNewPostForm.controls['subGenre'].touched">
            Выберете поджанр
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
    <button class="btn btn-outline-primary" type="submit" [disabled]="addNewPostForm.invalid"><i class="bi bi-plus-circle-fill me-1"> Добавить</i></button>
    <button class="btn btn-danger ms-1" (click)="formReset($event)" type="submit"><i class="bi bi-arrow-clockwise ms-1"> Сбросить</i></button>
      <div class="alert alert-danger"
           *ngIf="this.message !== ''">
        {{this.message}}
      </div>
    </div>
  </form>
</div>
