<a  id="page-content-wrapper m-1" class="col-10  container content rounded"
    [routerLink]="['detail',bookData.id]">
  <div class="container-fluid input-group">
    <div class="p-2 col-2 coverImg ">
      <img [src]="serverAddress + bookData.titleImgPath" alt="bookData.titleImgPath">
    </div>
    <div class="col-8">
      <h1 class="text-center fs-5">{{bookData.title}}</h1>
     <p class="text-end fs-5">Автор: {{bookData.author.name}} {{bookData.author.lastName}}</p>
<p class="text-end fw-bold" >Жанр: {{bookData.genre_name}} - {{bookData.subGenre_name}}</p>
      <p class="descriptionSmall">{{bookData.description}}</p>
    </div>
  </div>
  <hr class="m-0"/>
  <p class="text-end date m-0">{{dateService.formatData(bookData.createdDate)}}</p>
</a>
