<ng-template #mymodal let-modal>
      <div class="modal-content bg-light text-black" id="authModal">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center" id="authModalLabel">Аутентификация</h1>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="login-addon"><i class="bi bi-person-add"></i></span>
            <input type="text" class="form-control" name="login" [(ngModel)]="Login" placeholder="Введите логи" required aria-label="Логин"
                   aria-describedby="login-addon"
                   id="auth-login" name="auth-login">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="password-addon"><i class="bi bi-key"></i></span>
            <input type="password" class="form-control" required name="password" [(ngModel)]="Password"  placeholder="Введите пароль" aria-label="Пароль"
                   aria-describedby="login-addon"
                   id="auth-password" name="auth-password">
          </div>

        </div>
<!--        col col-6 alert text-success fs-6 me-5 text-center-->
        <div class="modal-footer">
          <div [ngClass]="{ 'alert alert-success text-success': isAuntSuccess, 'alert alert-danger text-danger' : !isAuntSuccess }" style="display: none" id="error-message">{{errorMessage}}</div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss('Cross click')">Закрить</button>
          <button type="button" class="btn btn-primary" [disabled]="isSendDisable" id="auth-button" (click)="AuthButtonClick()">Вход</button>
        </div>
      </div>
</ng-template>
