<div class="w-100 row">
  <app-sidebar  class="col-3"/>
  <div class="col-9 mt-3 d-inline">
    <app-global-search ></app-global-search>
    <div *ngFor="let item of bookCollection$ | async" >
       <app-book-post-small [bookData]="item" [routerLink]="['detail',item.id]"/>
  </div>
<div>
  <ul class="pagination">
    <li [ngClass]=" currentPage > 1? 'page-item':'page-item disabled' ">
      <button class="page-link" (click)="PreviousPage()">Previous</button>
    </li>

    <li  *ngFor="let item of pageStock" class="page-item" aria-current="page">
       <button *ngIf="currentPage == item" class="page-link active">{{item}}</button>
       <button *ngIf="currentPage != item" class="page-link" (click)="SelectPage(item)">{{item}}</button>
    </li>
    <li  [ngClass]="pageCount == currentPage ?'page-item disabled' : 'page-item'">
      <button  class="page-link" (click)="NextPage()">Next</button>
    </li>
  </ul>
</div>

  </div>
</div>
