<div class="row">
  <div class="col col-6 container fs-6">
    <form enctype="multipart/form-data" method="post">
      <div class="mb-3">
        <label for="user-login" class="form-label">
          Выберете Логин
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="login-addon"><i class="bi bi-person-add"></i></span>
          <input type="text" class="form-control " placeholder="Логин" aria-label="Логин"
                 aria-describedby="login-addon"
                 id="user-login" name="user-login">
        </div>
      </div>
      <div class="mb-3">
        <label for="user-name" class="form-label">
          Введите Имя
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="name-addon"><i class="bi bi-person-add"></i></span>
          <input type="text" class="form-control" placeholder="Петренко В.В." aria-label="Имя"
                 aria-describedby="name-addon"
                 id="user-name" name="user-name">
        </div>
      </div>
      <div class="mb-3">
        <label for="user-password" class="form-label">
          Введите Пароль
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="password-addon"><i class="bi bi-key"></i></span>
          <input type="password" class="form-control" placeholder="*******" aria-label="Пароль"
                 aria-describedby="login-addon"
                 id="user-password" name="user-password">
        </div>
      </div>
      <div class="mb-3">
        <label for="user-password-repiat" class="form-label">
          Повторите Пароль
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="password-repiat-addon"><i class="bi bi-key"></i></span>
          <input type="password" class="form-control" placeholder="*******" aria-label="Повторить пароль"
                 aria-describedby="login-addon"
                 id="user-password-repiat" name="user-password-repiat">
        </div>
      </div>
      <div class="mb-3">
        <label for="user-password-repiat" class="form-label">
          Введите Почту
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="Email-addon"><i class="bi bi-envelope"></i></span>
          <input type="email" class="form-control" placeholder="name@example.com"
                 aria-label="Введите Почту"
                 aria-describedby="Email-addon"
                 id="user-email" name="user-email">
        </div>
      </div>
      <div class="mb-3">
        <label for="user-avatar" class="form-label">
          Выберите Аватар
        </label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="avatar-addon"><i class="bi bi-person-bounding-box"></i></span>
          <input type="file" aria-label="Выберете Аватар"
                 aria-describedby="avatar-addon" class="form-control" id="user-avatar" name="user-avatar">
        </div>
      </div>
      <div class="row">
        <div class="container col col-3">
          <button class="btn btn-success" type="submit">Регистрация</button>
        </div>
      </div>
    </form>
  </div>
</div>
